@media screen and (max-width: 1024px) {
    .leftnav>span{
        margin-left: 2rem;
    }
    .lefthome .text{
        font-size: 2rem;
    }
    .profilepic{
        width: 300px;
        height: 280px;
    }
    .bar{
        font-size: 1.2rem;
    }

    /* about */
    .info{
        font-size: .9rem;
    }
    .info p{
        word-spacing: 3px;
        line-height: 1.4;
        color: #7c7b7b;
    }
    .about_container>.rightabout{
        width: 50%;
        height: 100%;
    }
    .skill_head{
        font-size: 1.1rem;
    }
    .skill span{
        font-size: 0.7rem;
    }

    /* project */
    .card{
        width: 25%;
        height: 200px;
    }
    .tag{
        font-size: 2.5rem;
        color: #3354ca;
    }
    .card h3{
        font-size: .8rem;
    }
    .card p{
        font-size: .6rem;
    }

    /* contact */
    .leftcontact h2{
        font-size: 1.4rem;
    }
}


/* Media Query for Mobile View */
@media screen and (max-width: 768px) {
    .leftnav{
        width: 50%;
        justify-content: flex-start;
    }
    .leftnav>span{
        margin-left: 1rem;
    }
    .rightnav{
        width: 50%;
        justify-content: space-between;
    }
    .theme-toggle{
        width: 50%;
        justify-content: start;
    }
    .bar_btn{
        width: 50%;
        display: flex;
        justify-content: end;
    }
    .home_sec{
        height: auto;
        margin-top: 8rem;
        flex-direction: column;
        align-items: center;
    }
    .home_sec>.lefthome{
        width: auto;
        padding-left: 0;
    }
    .home_sec>.righthome{
        width: 100%;
    }
    .profilepic{
        margin-top: 5rem;
    }
    .rightnav ul {
        display: none;
    }

    /* about */
    .about_sec>.about_container{
        flex-direction: column;
    }
    .info{
        width: 60%;
    }
    .about_container>.leftabout{
        width: 100%;
        justify-content: center;
        padding-right: 0;
        margin-top: 0;
    }
    .about_container>.rightabout{
        width: 100%;
        margin-bottom: 2rem;
    }
    .rightabout>.skill{
        padding-top: 0;
        margin: auto;
        width: 60%;
        justify-content: space-evenly;
    }
    /* project */
    .project_sec{
        height: auto;
    }
    .card-con{
       padding-top: 3rem;
       flex-direction: column;
       align-items: center;
    }
    .card{
        width: 40%;
        height: 200px;
    }

    /* contact */
    .connect{
        flex-direction: column;
        align-items: center;
    }
    .leftcontact{
        width: 100%;
        margin-top: 2rem;
    }
    .rightcontact{
        width: 80%;
    }
    .inputbox{
        padding-top: 2.5rem;
    }
    .footer h2{
        font-size: 1.5rem;
    }
    
}



@media  screen and (max-width: 430px) {
    .leftnav>span{
        margin-left: 0rem;
        font-size: 1.3rem;
        padding-left: 1rem;
    }
    .bar{
        font-size: 1.1rem;
    }
    .lefthome{
        padding: 0 40px;
    }
    .lefthome .text{
        font-size: 1.5rem;
    }
    .lefthome p{
        font-size: 1rem;
    }
    .lefthome button{
        font-size: .7rem;
    }
    .righthome{
        display: none;
    }
    .profilepic{
        display: none;
        width: 200px;
        height: 180px;
    }

    /* about */
    .info{
        width: 80%;
        font-size: .7rem;
        padding: 2rem 1.5rem;
        box-shadow: 0px 0px 10px 2px #cdcbcb;
    }
    .rightabout>.skill{
        margin: auto;
        width: 80%;
        justify-content: space-evenly;
    }
    .skill_head{
        font-size: .8rem;
    }
    .skill span{
        font-size: 0.6rem;
        width: 4rem;
    }

    /* project */
    .card{
        width: 75%;
        height: 180px;
    }
    .card h4{
        font-size: 12px;
    }
    .tag{
        font-size: 2rem;
        color: #3354ca;
    }

    /* contact */
    .leftcontact{
        width: 100%;
        margin-top: 2rem;
    }
    .rightcontact{
        width: 100%;
    }
    .inputbox{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-right: 2rem;
    }
    .form{
        width: 100%;
    }
    #email{
        margin-left: 0;
    }
    #message{
        margin-top: 15px;
    }
    .footer .col a{
        padding: 2rem 1.5rem ;
    }
    .theme-toggle {
        right: 7rem;
    }
    .theme-toggle {
        top: 25px;
    }
    .theme-toggle button{
        padding: 3px 10px;
    }
    .fa-moon,.fa-sun{
        font-size: .8rem;
    }
    #btnsend{
        transform: scale(.9);
    }
    .copyright{
        font-size: .8rem;
    }

}

@media  screen and (max-width: 376px){
    .leftnav{
        width: 55%;
    }
    .rightnav{
        width: 45%;
    }
    .inputbox{
        justify-content: center;
        margin-right: 1.6rem;
    }
} 